@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..800&display=swap");
@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina-free/Neue-Machina/NeueMachina-Light.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  border: 1.5px solid #0038ff !important;
  box-shadow: 0 0 0 1.5px #0038ff !important;
  width: 7px !important;
  height: 7px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  box-shadow: 0 0 0 1.5px #000 !important;

  border: none !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 40px !important;
  left: -20px !important;
  right: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
}
